﻿<header style="background-color: #F3F3F3">
    <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Início", "Index", "Home")</li>
                            <li>@Html.ActionLink("Quem somos", "About", "Empresa")</li>
                            <li>@Html.ActionLink("Suporte", "Suporte", "Aluno")</li>
                            <li>@Html.ActionLink("Contato", "Enviar", "ContatoComercial")</li>
                            <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                        </ul>
                    </nav>
                </div>
</header>