﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")" ></script>

    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/info-box.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/page-header.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/botoes.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/formulario.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/menu.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/navbar.css")" rel="stylesheet" type="text/css" />
    
    @RenderSection("css", required: false)

    @RenderSection("analytics", required: false) 
</head>
<body>
    @Html.Partial("~/Views/Shared/_HeaderMenu.cshtml")
    @RenderBody()
    @RenderPage("DefaultScripts.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>
