﻿<!DOCTYPE html>
<html lang="en" class="cufon-active cufon-ready">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @RenderSection("metatags", required: false)
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    @*CSS*@
    @RenderSection("secao_css", required: false)
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/reset.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/skeleton.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/superfish.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/style.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/slider.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" />
    @*SCRIPTS*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-1.7.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/script.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/superfish.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/FF-cash.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.hoverIntent.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.responsivemenu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/cufon-yui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/cufon-replace.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/Kozuka_Gothic_Pro_OpenType_300.font.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/Kozuka_Gothic_Pro_OpenType_400.font.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/Kozuka_Gothic_Pro_OpenType_500.font.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/Angelina_400.font.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/slides.min.jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easing.1.3.js")"></script>

    <script type="text/javascript">
    
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34053430-1']);
        _gaq.push(['_trackPageview']);
    
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    
    </script>
</head>
<body id="page1">
    @RenderBody()
    @RenderSection("js_render", false)
</body>
</html>
