﻿<div class="menu">
    <div class="inner-menu">
        <ul>
            <li>
                @{
                    if (ViewBag.Login == "index")
                    {
                        @Html.ActionLink("Área do aluno", "Index", "Home", new { area = "" }, new { @class = "button orange" }) 
                    }
                    else
                    {
                        @Html.ActionLink("Área do aluno", "Index", "Home", new { area = "" }, new { @class = "button gray" }) 
                    }
                }
            </li>
            <li>
                @{
                    if (ViewBag.Login == "aluno")
                    {
                        @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "button blue" })
                    }
                    else
                    { 
                        @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "button gray" })
                    }
                }
            </li>
            <li>
                @{
                    if (ViewBag.Login == "admin")
                    {
                        @Html.ActionLink("Cadastre-se", "Create", "Empresa", new { area = "" }, new { @class = "button green" })
                    }
                    else
                    {
                        @Html.ActionLink("Cadastre-se", "Create", "Empresa", new { area = "" }, new { @class = "button gray" })
                    }
                    }
            </li>
        </ul>
    </div>
</div>
