﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div class="menu logo-marca-site">
</div>
<div class="content">
    <div class="box info erro-page">
        <h1>
            Ocorreu um erro enquanto
            <br />
            sua requisição era processada.</h1>
        <h2>@Model.Exception.Message</h2>
        @*<p>
        <p>
            Controller = @Model.ControllerName</p>
        <p>
            Action = @Model.ActionName</p>
        StackTrace :</p>
    <pre>@Model.Exception.StackTrace</pre>*@
    </div>
    <div>
        @Html.ActionLink("página Inicial", "Index", "Home", new { area = "" }, new { @class = "button orange" })
        <a class="button orange" href="@Request.UrlReferrer">Voltar para página anteriror</a> 
    </div>
</div>
