﻿@model DirecaoCerta.Models.Veiculo

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir este registro?</h3>
<fieldset>
    <legend>Veiculo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmpresaId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmpresaId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuditoriaId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuditoriaId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Renavan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Renavan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modelo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modelo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Placa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Placa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ano)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ano)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cor)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
