﻿@model DirecaoCerta.Models.Veiculo

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Veículo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmpresaId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmpresaId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuditoriaId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuditoriaId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Renavan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Renavan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modelo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modelo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Placa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Placa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ano)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ano)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cor)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
