﻿@model DirecaoCerta.Models.Veiculo

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Veiculo</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.EmpresaId)
        @Html.HiddenFor(model => model.AuditoriaId)

       
        <div class="editor-label">
            @Html.LabelFor(model => model.modelo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modelo)
            @Html.ValidationMessageFor(model => model.modelo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Renavan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Renavan)
            @Html.ValidationMessageFor(model => model.Renavan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Placa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Placa)
            @Html.ValidationMessageFor(model => model.Placa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ano)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ano)
            @Html.ValidationMessageFor(model => model.Ano)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cor)
            @Html.ValidationMessageFor(model => model.Cor)
        </div>

        <p>
            <input type="submit" value="Atualizar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
