﻿@model DirecaoCerta.Models.Empresa
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    ´   <h1>Direção Certa</h1>
        <p>Bem vindo ao Direção Certa, sua empresa @ViewBag.RazaoSocial foi cadastrada com sucesso.</p>
        <br/>
        <p>O responsável é : @ViewBag.Responsavel </p>
        <p>Seu usuário é : @ViewBag.Usuario </p>
        <p>Seu e-mail é : @ViewBag.Email </p>
        <p>Sua senha é : @ViewBag.Senha </p>
    </div>
</body>
</html>
