﻿.form_edit_text
{
    margin-top: 5px;
    margin-bottom: 10px;
}

.form_button
{
    margin-bottom: 15px;
}

.display-field
{
    margin-bottom: 10px;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}

input[type="text"]
{
    padding: 5px;
    height: 25px;
    width: 300px;
    border: 1px solid #CCC;
    border-radius: 8px;
    margin-bottom: 5px;
}

input[type="password"]
{
    padding: 5px;
    height: 25px;
    width: 300px;
    border: 1px solid #CCC;
    border-radius: 8px;
    margin-bottom: 5px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    background-position: left center;
    color: #CC0000;
    border-radius: .5em;
    padding: 5px 5px 5px 20px;
    background-image: url('images/system_error_alt_02.png');
    background-repeat: no-repeat;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-errors ul li
{
    list-style-type: none;
}

.validation-summary-valid
{
    display: none;
}





