﻿.box
{
    padding-left: 10px;
    margin-right: 10px;
    float: left;
    padding-bottom: 10px;
    font-size: 11pt;
    color: #000000;
}

.info
{
    border-left-style: dotted;
    border-left-width: 1px;
    border-left-color: #999999;
}

.info h2
{
    padding: 5px;
    font-size: 30pt;
}

.info b
{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman' , Times;
    color: #000000;
}

.info a
{
    text-decoration: none;
}
