﻿.menu
{
	background-position: left center;
	width: auto;
	height: 100px;
	background-color: #FFFFFF;
	padding: 10px;
	background-repeat: no-repeat;
}

.inner-menu
{
	background-position: left center;
	height: 100px;
	width: 1024px;
	margin: 0px auto;
	background-image: url('images/logo-marca-auto-escola-simples.png');
	background-repeat: no-repeat;
}

.menu ul
{
	padding-top: 35px;
	float: right;
}

.menu ul li
{
	float: left;
	margin-left: 5px;
	list-style-type: none;
}

.background-top-menu{

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.28, rgb(250,250,250)),
	color-stop(0.66, rgb(255,255,255)),
	color-stop(0.99, rgb(217,217,217))
);

background-image: -moz-linear-gradient(
	center bottom,
	rgb(250,250,250) 28%,
	rgb(255,255,255) 66%,
	rgb(217,217,217) 99%

);
}