﻿.page-header
{
    width: 100%;
    position: relative;
    margin: 0px 0 10px 0;
    clear: both;
}

.header-green
{
    background: #95b745; /* Old browsers */
    background: -moz-linear-gradient(top, #95b745 0%, #72aa00 70%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95b745), color-stop(70%,#72aa00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #95b745 0%,#72aa00 70%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #95b745 0%,#72aa00 70%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #95b745 0%,#72aa00 70%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95b745', endColorstr='#72aa00',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #95b745 0%,#72aa00 70%); /* W3C */
}

.page-header.header-green h2
{
    color: #FFFFFF;
}

.header-blue
{
    background: #2cace8; /* Old browsers */
    background: -moz-linear-gradient(top, #2cace8 0%, #006caa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2cace8), color-stop(100%,#006caa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2cace8 0%,#006caa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2cace8 0%,#006caa 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #2cace8 0%,#006caa 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cace8', endColorstr='#006caa',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #2cace8 0%,#006caa 100%); /* W3C */
}

.page-header.header-blue h2
{
    color: #FFFFFF;
}

.page-header-content
{
    padding: 20px 0 20px 0;
    width: 1024px;
    margin: 0 auto;
}

.header-gray
{
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #cedce7 0%,#596a72 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #cedce7 0%,#596a72 100%); /* W3C */
}

.page-header.header-gray h2
{
    color: #FFFFFF;
}

.header-orange
{
    background: #f9bf11; /* Old browsers */
    background: -moz-linear-gradient(top, #f9bf11 0%, #ed8302 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9bf11), color-stop(100%,#ed8302)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9bf11 0%,#ed8302 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9bf11 0%,#ed8302 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f9bf11 0%,#ed8302 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bf11', endColorstr='#ed8302',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f9bf11 0%,#ed8302 100%); /* W3C */
}

.page-header.header-orange h2
{
    color: #FFFFFF;
}

.page-header h1
{
    display: block;
    font-size: 81px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -3px;
    margin: 0;
    color: #FFF; /*text-shadow: 1px 1px 1px #000;*/
}

.page-header.chrome h1
{
    display: block;
    font-size: 81px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -3px;
    margin: 0;
    color: #222; /*text-shadow: 2px 2px 2px #000;*/
}

.page-header h2
{
    margin: 6px 0 0;
    font-size: 24px;
    line-height: 1.25;
    color: #777;
    font-weight: normal;
    letter-spacing: 0;
}
.page-header h2 a
{
    text-decoration: underline;
    font-weight: inherit;
    line-height: inherit;
}
.page-header h2 a.button
{
    display: inline-block;
    position: relative;
    top: -5px;
}
.page-header h1 span, div.page-header h2 span
{
    display: block;
}
.page-header h1 small, div.page-header h2 small
{
    font-size: 75%;
    font-weight: normal;
}

.image-top-home
{
    background-position: right bottom;
    background-image: url('images/blocks.png');
    background-repeat: no-repeat;
}

.image-top-home-alunos
{
    background-position: right top;
    background-image: url('images/MP910221051[2].png');
    background-repeat: no-repeat;
}

.image-top-home-admin
{
    background-position: right top;
    background-image: url('images/admin2.png');
    background-repeat: no-repeat;
}
