/* image replacement */
.graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next
{
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    text-indent: -8000px;
}
/* // image replacement */

#slider-content
{
    position: relative;
}

/* Easy Slider */

#slider ul, #slider li, #slider2 ul, #slider2 li
{
    margin: 0;
    padding: 0;
    list-style: none;
}
#slider li a, #slider li a:visited
{
    color: #000000;
}
#slider2
{
    margin-top: 1em;
}
#slider li, #slider2 li
{
    /*  			define width and height of list item (slide) 			entire slider area will adjust according to the parameters provided here 		*/
    width: 600px;
    height: 250px;
    overflow: hidden;
}

#prevBtn, #nextBtn, #slider1next, #slider1prev
{
    display: block;
    width: 30px;
    height: 77px;
    position: absolute;
    left: -30px;
    top: 71px;
    z-index: 1000;
}
#nextBtn, #slider1next
{
    left: 600px;
}
#prevBtn a, #nextBtn a, #slider1next a, #slider1prev a
{
    display: block;
    position: relative;
    width: 30px;
    height: 77px;
    background: url('images/btn_prev.gif') no-repeat 0 0;
}
#nextBtn a, #slider1next a
{
    background: url('images/btn_next.gif') no-repeat 0 0;
}

/* numeric controls */

ol#controls
{
    margin: 1em 0;
    padding: 0;
    height: 28px;
}
ol#controls li
{
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 28px;
    line-height: 28px;
}
ol#controls li a
{
    float: left;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    background: #DAF3F8;
    color: #555;
    padding: 0 10px;
    text-decoration: none;
}
ol#controls li.current a
{
    background: #5DC9E1;
    color: #fff;
}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus
{
    outline: none;
}

.text-slider
{
    width:250px; 
    float:right; 
    margin-left: 10px
}

/* // Easy Slider */