﻿@model DirecaoCerta.Models.Empresa

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Empresa</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RazaoSocial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RazaoSocial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CNPJ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CNPJ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Responsavel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Responsavel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
