﻿@model IEnumerable<DirecaoCerta.Models.Empresa>

@{
    ViewBag.Title = "Dados da Empresa";
}

<h2>Empresas</h2>

<p>
    @Html.ActionLink("Voltar", "Menu","Home")
</p>

@if (Model.Count() == 0)
{
    <p>Nenhum registro localizado</p>
}
else 
{
    <table class="table table-bordered table-condensed">
        <tr class="html-table bg-color-gray">
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsavel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <div class="btn-group">
                            <a class="btn" href="@Url.Action("Edit", new { id = item.Id })" title="Alterar"><i class="icon-pencil"></i></a>
                            <a class="btn" href="@Url.Action("Details", new { id = item.Id })" ><i class="icon-pencil" title="Detalhes"></i></a>
                            <a class="btn" href="@Url.Action("Delete", @item)" ><i class="icon-trash" title="Excluir"></i></a>
                    </div>
                </td>
            </tr>
        }
   
    </table>
}
