﻿@model DirecaoCerta.Models.TipoPagamento

@{
    ViewBag.Title = "Edição";
}

<h2>Edição</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TipoPagamento</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AuditoriaId)

        <div class="editor-label">
            @Html.LabelFor(model => model.EmpresaId, "Empresa")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmpresaId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmpresaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <p>
            <input type="submit" value="Atualizar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
