﻿@model IEnumerable<DirecaoCerta.Models.TipoPagamento>

@{
    ViewBag.Title = "Lista de Tipos de Pagamento";
}

<h2>Tipos de Pagamento</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
    @Html.ActionLink("Voltar", "Menu","Home")
</p>

@if (Model.Count() == 0)
{
    <p>Nenhum registro localizado</p>
}
else 
{
    <table class="table table-bordered table-condensed">
        <tr class="html-table bg-color-gray">        
        <th>
            @Html.DisplayNameFor(model => model.Empresa.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auditoria.UltimaOperacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auditoria.UltimaOperacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <div class="btn-group">
                        <a class="btn" href="@Url.Action("Edit", new { id = item.Id })" title="Alterar"><i class="icon-pencil"></i></a>
                        <a class="btn" href="@Url.Action("Details", new { id = item.Id })" ><i class="icon-pencil" title="Detalhes"></i></a>
                        <a class="btn" href="@Url.Action("Delete", @item)" ><i class="icon-trash" title="Excluir"></i></a>
                </div>
            </td>
        </tr>
    }
   
    </table>
}
