﻿@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
        <p>Não há um serviços de autenticação externo configurado. Veja <a href="http://go.microsoft.com/fwlink/?LinkId=252166">o artigo</a>
        para detalhes de como definir esta aplicação Apt.NET para suportar login via serviços externos.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <legend>Logar por um outro serviço</legend>
        <p>
        @foreach (AuthenticationClientData p in Model)
        {
            <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Conectar usando sua conta @p.DisplayName">@p.DisplayName</button>
        }
        </p>
    </fieldset>
    }
}
