﻿@model DirecaoCerta.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Registrar";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Associação de sua conta @ViewBag.ProviderDisplayName.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Formulário de Associação</legend>
        <p>
            Você foi sonectado com sucesso em <strong>@ViewBag.ProviderDisplayName</strong>.
            Por favor informe um usuário para o site abaixo e click o botão "Confirma" para finalizar a conexão.
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Registrar" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
