﻿@model DirecaoCerta.Models.LoginModel

@{
    ViewBag.Title = "Acesso";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use uma conta local para logar</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Formulário de Log in</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Logar" />
    </fieldset>
    <p>
        @Html.ActionLink("Registrar", "Register") Se você ainda não possui uma conta.
    </p>
}
</section>

<!--
<section class="social" id="socialLoginForm">
    <h2>Use um outro serviço para logar.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
