﻿@model DirecaoCerta.Models.Matricula

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Matricula</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AlunoId, "aluno")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AlunoId", String.Empty)
            @Html.ValidationMessageFor(model => model.AlunoId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValorContrato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValorContrato)
            @Html.ValidationMessageFor(model => model.ValorContrato)
        </div>
     
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
