﻿@model DirecaoCerta.Models.Matricula

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Matricula</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.aluno.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.aluno.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Auditoria.UltimaOperacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auditoria.UltimaOperacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValorContrato)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorContrato)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataMatricula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataMatricula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataConclusao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataConclusao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ativo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ativo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
