﻿@model DirecaoCerta.Models.Matricula

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Matricula</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.aluno.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.aluno.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Auditoria.UltimaOperacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Auditoria.UltimaOperacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValorContrato)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorContrato)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataMatricula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataMatricula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataConclusao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataConclusao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ativo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ativo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
