﻿@model DirecaoCerta.Models.Matricula

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Matricula</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.AlunoId, "aluno")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AlunoId", String.Empty)
            @Html.ValidationMessageFor(model => model.AlunoId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuditoriaId, "Auditoria")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AuditoriaId", String.Empty)
            @Html.ValidationMessageFor(model => model.AuditoriaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValorContrato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValorContrato)
            @Html.ValidationMessageFor(model => model.ValorContrato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataMatricula)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataMatricula)
            @Html.ValidationMessageFor(model => model.DataMatricula)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataConclusao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataConclusao)
            @Html.ValidationMessageFor(model => model.DataConclusao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ativo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ativo)
            @Html.ValidationMessageFor(model => model.Ativo)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
