﻿@model IEnumerable<DirecaoCerta.Models.Matricula>

@{
    ViewBag.Title = "Lista de Matrículas";
}

<h2>Matrículas</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
    @Html.ActionLink("Voltar", "Menu","Home")
</p>

@if (Model.Count() == 0)
{
    <p>Nenhum registro localizado</p>
}
else 
{
    <table class="table table-bordered table-condensed">
        <tr class="html-table bg-color-gray">
            <th>
                @Html.DisplayNameFor(model => model.aluno.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auditoria.UltimaOperacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMatricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataConclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.aluno.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auditoria.UltimaOperacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn" href="@Url.Action("Edit", new { id = item.Id })" title="Alterar"><i class="icon-pencil"></i></a>
                    <a class="btn" href="@Url.Action("Details", new { id = item.Id })" ><i class="icon-pencil" title="Detalhes"></i></a>
                </div>
            </td>
        </tr>
    }

    </table>
}