﻿@{
    ViewBag.Title = "Página inicial";
    
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Direção certa</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <h5>@ViewBag.Message</h5>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Direção Certa", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Início", "Index", "Home")</li>
                            <li>@Html.ActionLink("Empresas", "Index", "Empresa")</li>
                            <li>@Html.ActionLink("Alunos", "Index", "Aluno")</li>
                            <li>@Html.ActionLink("Serviços", "Index", "Servico")</li>
                            <li>@Html.ActionLink("Matriculas", "Index", "Matricula")</li>
                            <li>@Html.ActionLink("Veículos", "Index", "Veiculo")</li>
                            <li>@Html.ActionLink("Tipos de Pagamentos", "Index", "TipoPagamento")</li>
                            <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Direção Certa</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
      </body>
</html>
