﻿@model DirecaoCerta.Models.Aluno

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir este registro?</h3>
<fieldset>
    <legend>Aluno</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPF)
    </div>
    
    @Html.Partial("~/views/Endereco/_Datails.cshtml", Model.Endereco)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Residencial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Residencial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Celular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Celular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contato)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contato)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data_Aceite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data_Aceite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
