﻿@model DirecaoCerta.Models.Aluno

@{
    ViewBag.Title = "Detalhes do aluno";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Aluno</legend>
     
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

      @Html.Partial("~/views/Endereco/_Datails.cshtml", Model.Endereco)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Residencial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Residencial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Celular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Celular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contato)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contato)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data_Aceite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data_Aceite)
    </div>

 
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
