﻿@model DirecaoCerta.Models.Aluno

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Aluno</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.EmpresaId)
        @Html.HiddenFor(model => model.AuditoriaId)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CPF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CPF)
            @Html.ValidationMessageFor(model => model.CPF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        @Html.Partial("~/views/Endereco/_Edit.cshtml", Model.Endereco)
        

        <div class="editor-label">
            @Html.LabelFor(model => model.Residencial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Residencial)
            @Html.ValidationMessageFor(model => model.Residencial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Celular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Celular)
            @Html.ValidationMessageFor(model => model.Celular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contato)
            @Html.ValidationMessageFor(model => model.Contato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data_Aceite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data_Aceite)
            @Html.ValidationMessageFor(model => model.Data_Aceite)
        </div>

        <p>
            <input type="submit" value="Atualizar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
