﻿@model IEnumerable<DirecaoCerta.Models.Aluno>

@{
    ViewBag.Title = "Lista de Alunos";
}

<h2>Alunos</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
    @Html.ActionLink("Voltar", "Menu","Home")
</p>

@if (Model.Count() == 0)
{
    <p>Nenhum registro localizado</p>
}
else 
{
    <table class="table table-bordered table-condensed">
        <tr class="html-table bg-color-gray">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residencial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Aceite)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residencial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Aceite)
            </td>
      
            <td>
                <div class="btn-group">
                    <a class="btn" href="@Url.Action("Edit", new { id = item.Id })" title="Alterar"><i class="icon-pencil"></i></a>
                    <a class="btn" href="@Url.Action("Details", new { id = item.Id })" ><i class="icon-pencil" title="Detalhes"></i></a>
                    <a class="btn" href="@Url.Action("Delete", @item)" ><i class="icon-trash" title="Excluir"></i></a>
                </div>
            </td>
        </tr>
    }

    </table>
}
